[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"

[scripts]
app = "pipenv run python3 app.py"
test = "pipenv run pytest ."
ice_breaker = "pipenv run python3 ice_breaker.py"
